
<!-- advertising start -->
<header class="indexhead">
      <div class="container-fluid" >
        <div class="intro-text">
          
          <div class="intro-heading text-uppercase" >It's Nice To Meet You</div>
          <div class="intro-lead-in" >Always Ruby on rails !</div>

        </div>
      </div>
   
</header>
 <% @posts.each do |post| %>
		<h2 class="post-title"><%= link_to post.title, post %></h2>
		<h3 class="post-subtitle"><%= post.content.html_safe %></h3>
        <% if user_signed_in? %>
		<p><%= link_to "edit", edit_post_path(post) %>
		 | <%= link_to("Delete", post,  method: :delete, data: { confirm: "Are you sure?" } )%></p>
		<% end %>
        <% end %>

<% if user_signed_in? %>

       <p><%= link_to "new post", new_post_path %></p>
<% end %>