<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top navbar-dark bg-dark" style="border-width: 0 0 0px">
        <div class="container-fluid" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll"  >
               
                <a class="navbar-brand" style="font-size: 35px;text-decoration:none;font-family: 'Cabin Sketch', cursive;"<%= link_to "Gary Web.  ",pages_home_path %></a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
                    <li><%= link_to "Blog", posts_path %></li>
                    <li><%= link_to "Contact", new_contact_path %></li>
                    <li><%= link_to "Qt works", pages_home_path %></li>
    
                <% if !user_signed_in? %>
                     <li><%= link_to "Log in User", user_session_path %></li>
                    <li><%= link_to "Sign in User", new_user_registration_path %></li>  
                    <% else %>
                    <li ><%=  link_to current_user.email %></li>
                    
                    <li><%= link_to "Log out User", destroy_user_session_path, method: :delete %></li>

                    <% end %>  
                   

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


